[default]
meshroomroot = /home/hskanner3d-dev/Documents/software/Meshroom-2019.2.0-linux/Meshroom-2019.2.0
pipe_file_hq = compute_tex_model.mg
pipe_file_fast = compute_pointcloud.mg
number_sensor_nodes = 0
network_subnet = 192.168.128.0/24
shutterspeed = 16.67
isosetting = 100
whitebalance = auto
selftimer = 0.0
rotation = 0
scaling = 100
openfilebrowser = true
view_mesh = true
strip_length = 13
comet_tail_length = 5
comet_brightness = 1.0
comet_r = 255
comet_g = 255
comet_b = 255
comet_w = 255
comet_sleeptime = 0.04
photo_light_r = 0
photo_light_g = 0
photo_light_b = 0
photo_light_w = 0

[custom]
meshroomroot = /home/hskanner3d-dev/Documents/software/Meshroom-2020.1.0-linux-cuda10/Meshroom-2020.1.0
	
pipe_file_hq = compute_tex_model.mg
	
pipe_file_fast = compute_pointcloud.mg
	
number_sensor_nodes = 45
	
network_subnet = 192.168.128.0/24
	
shutterspeed = 33.34
	
isosetting = 200
	
whitebalance = sunlight
	
selftimer = 0.0
	
rotation = 0
	
scaling = 100
	
openfilebrowser = true
	
view_mesh = true
	
strip_length = 120
	
comet_tail_length = 50
	
comet_brightness = 1.0
	
comet_r = 255
	
comet_g = 255
	
comet_b = 255
	
comet_w = 255
	
comet_sleeptime = 0.004
	
photo_light_r = 0
	
photo_light_g = 0
	
photo_light_b = 0
	
photo_light_w = 0
	

