[default]
meshroomroot = /home/hskanner3d-dev/Documents/software/Meshroom-2019.2.0-linux/Meshroom-2019.2.0
pipe_file_hq = compute_tex_model.mg
pipe_file_fast = compute_pointcloud.mg
number_sensor_nodes = 0
network_subnet = 192.168.128.0/24
shutterspeed = 16.67
isosetting = 100
whitebalance = auto
selftimer = 0.0
rotation = 0
scaling = 100
openfilebrowser = 1
view_mesh = 1
strip_length = 13
comet_tail_length = 5
comet_brightness = 1.0
comet_r = 255
comet_g = 255
comet_b = 255
comet_w = 255
comet_sleeptime = 0.04

[custom]
meshroomroot = /home/hskanner3d-dev/Documents/software/Meshroom-2019.2.0-linux/Meshroom-2019.2.0
	
pipe_file_hq = compute_tex_model.mg
	
pipe_file_fast = compute_pointcloud.mg
	
number_sensor_nodes = 45
	
network_subnet = 192.168.128.0/24
	
shutterspeed = 16.67
	
isosetting = 100
	
whitebalance = sunlight
	
selftimer = 5.0
	
rotation = 90
	
scaling = 50
	
openfilebrowser = 1
	
view_mesh = 1
	
strip_length = 120
	
comet_tail_length = 50
	
comet_brightness = 1.0
	
comet_r = 255
	
comet_g = 255
	
comet_b = 255
	
comet_w = 255
	
comet_sleeptime = 0.004
	

